/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to bottom, #007fc5, #34a7d6);
    min-height: 100vh;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 25px 20px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    width: 120px;
}

.cabecalho h1 {
    color: white;
    font-size: 19px;
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.icons-header {
    display: flex;
    color: white;
    gap: 8px;
    font-size: 22px;
}

i {
    cursor: pointer;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    cursor: pointer;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    color: white;
    transition: transform .25s ease, box-shadow .25s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
}

@media (min-width: 1200px) {

    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 1.5rem;
    }

    .logo img {
        width: 200px;
    }

    .cabecalho h1 {
        color: white;
        font-size: 30px;
        font-family: "Poetsen One", sans-serif;
        margin: 0;
    }

    .icons-header {
        display: flex;
        color: white;
        gap: 8px;
        font-size: 30px;
    }

    main {
        flex-direction: row;
        gap: 30px;
        padding: 40px;
    }

    .cards {
        flex: 1;
        min-width: 0;
        align-items: start;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}