* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to bottom, #007fc5, #34a7d6);
    min-height: 100vh;
    color: white;
    background-image: url(../img/26574.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 30px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 25px 0;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.5rem;
}

.logo img {
    width: 120px;
}

h1 {
    color: white;
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.icons-header {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.icons-header a {
    text-decoration: none;
}

i {
    color: white;
    cursor: pointer;
}

.icons-header i:hover {
    color: #8cf0e7;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #575757;
    font-size: 14px;
    outline: none;
}

::placeholder {
    color: #8f8f8f;
}

.perfil-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.photo-upload {
    background-color: #84b7cc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.upload-icon {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.upload-icon i {
    font-size: 35px;
    color: #84b7cc;
    line-height: 1;
}

.container-dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.botao {
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
    width: 100%;
    background-color: #0475A8;
}

.botao:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn-logout {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}

@media (min-width: 900px) {

    header {
        padding: 25px 20px;
    }

    .cabecalho {
        padding-right: 0;
    }

    .logo img {
        width: 200px;
    }

    .icons-header {
        font-size: 30px;
    }

    .perfil-section {
        grid-template-columns: 180px 1fr;
        justify-items: start;
        gap: 30px;
        align-items: start;
    }

    .photo-upload {
        width: 100%;
        margin-bottom: 0;
    }

    .container-dados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .actions-section {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 20px;
    }

    .botao {
        width: auto;
        padding: 12px 25px;
    }

    .botao-logout {
        grid-column: auto;
        width: auto;
        margin-left: auto;
    }
}